<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card.css">
</head>

<body>
    <div class="container">
        <div class="card-container" id="card-container">
            <div class="card pic-card">
                <div class="pic-box">
                    <img src="../../assets/lost.jpg">
                </div>
            </div>
            <div class="detail-card card">
                <h1>救救孩子</h1>
                <p>我还记得那一天，在繁华的闹市中，熙熙攘攘的人群并没有阻隔你的身影。</p>
                <p>我发现了你，看到了你的眸，清亮。嗅到了你的发，清香。我在想:或许这就是命运的安排吧，一面之缘，仿佛让我遇到了生命中一直在等待的狗子。我在深情凝视，把温柔的目光定格在你的眼睛里，希望能擦出爱情的火花。可是任凭命运的前行，我们只能这样擦肩而过。罢了罢了，就让我们相忘于江湖吧。
                </p>
            </div>
            <div class="tips">向下滚动查看更多</div>
            <div class="ticket">
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
                <div class="lou"></div>
            </div>
        </div>
    </div>

</body>
</html>