* {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: serif;
}
body {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.container,
.card-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  width: 767px;
  max-height: 400px;
  left: -677px;
  height: 100%;
}
.card-container {
  position: absolute;
}
.card-container:hover .ticket {
  right: -20px;
}
.card {
  position: absolute;
  top: 0;
  height: 100%;
}
h1 {
  margin: 0;
  margin-bottom: 20px;
}
.pic-card {
  width: 40%;
  left: 0;
}
.pic-card .pic-box {
  overflow: hidden;
  width: 230px;
  height: 230px;
  border-radius: 10px;
  border: 2px solid rgba(100, 100, 100, 0.384);
  margin-bottom: 10px;
}
.pic-card .pic-box img {
  width: 230px;
  height: 230px;
}
.detail-card {
  width: 50%;
  right: 75px;
}
.line-words {
  font-family: serif;
  font-size: 15px;
  margin-bottom: 2px;
  word-break: break-all;
}
.tips {
  position: absolute;
  right: 60px;
  width: 20px;
  line-height: 24px;
  font-size: 15px;
}
.ticket {
  height: 100%;
  width: 80px;
  position: absolute;
  background: #fff;
  right: 0;
  transition: all ease 0.3s;
}
.ticket .flight {
  position: absolute;
  z-index: 2;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  width: 10px;
}
.ticket .lou::before {
  border-radius: 3px;
  position: relative;
  right: -35px;
  content: '';
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: #fff;
}
#c1 {
  z-index: 1;
  left: -767px;
}
#c0 {
  z-index: 5;
}
